{% extends "berk_layout.html" %}
{% block content %}
<div class="text-center">
	<br><br>
	<h4>If you have any quries or need to expand your Product Limit <br><br>
	 Just send us a Mail to </h4><h3>berkbuddies@gmail.com</h3>
	 <h4>We are always ready to help you</h4><br><br>

	 <div class="border border-primary w-50" style="margin-right: auto;margin-left: auto;">
	 Follow us on :
          <a target="_blank" href="https://www.facebook.com/Berkbuddies/"><img class="socialmedia m-3" src="{{url_for('static', filename='facebook.svg')}}" alt="facebook" title="facebook"></a>
                <a target="_blank" href="https://instagram.com/berkbuddies?igshid=1cpo2p604yt8u"><img class="socialmedia m-3" src="{{url_for('static', filename='instagram-sketched.svg')}}" alt="instagram" title="instagram"></a>
            </div>
</div>
{% endblock content %}