{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{title}}</legend>
                <div class="form-group">
                    {{ form.foldername.label(class="form-control-label") }}
                    {% if form.foldername.errors %}
                        {{ form.foldername(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.foldername.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.foldername(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.folderunder.label(class="form-control-label") }}
                    {{ form.folderunder(class="form-control",readonly="True") }}
                </div>
            </fieldset>
            <div class="form-group">
                {% if title=='create Category' %}
                {{ form.submit(class="btn btn-outline-info") }}
                <a class="btn btn-link" href="{{ url_for('products.dashboard') }}" role="button">Cancel</a>
                {% else %}
                {{ form.update(class="btn btn-outline-info") }}
                <button class="btn btn-link" onclick="goBack()">Back</button>
                {% endif %}
                <!-- <button class="btn btn-link" onclick="goBack()">Cancel</button> -->

            </div>
        </form>
    </div>
{% endblock content %}
